/* Style for the container */
.c {
    margin-top: 50px;
  }
  
  /* Style for the card */
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(37, 107, 199, 0.1);
    width: 65%;
    margin-left: 20%;
  }
  .text-center {
    color: white;
    font-weight: bold;
  }
  label {
    color:#004aad;
  }
  
  /* Style for the card header */
  .card-header {
    background-color: #004aad;
    width:100%;
  }
  
  /* Style for the form */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style for the labels */
  label {
    font-weight: bold;
  }
  
  /* Style for the input fields */
  .form-control {
    width: 95%;
  }
  
  /* Style for the Update button */
  .btn-success {
    width: 150px;
  }
  
  /* Style for the text center */
  .text-center {
    text-align: center;
  }
  
  
  
  /* Style for the container */
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  
  /* Style for the row */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Style for the custom card */
  .custom-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

  