<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vertical Split Layout with Sign Up</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" >
    <div class="row">
        <div class="col-md-6 left-side" style="padding-top: 50px;">
            <!-- Random photo -->
            <div class = image1>
            <img src="../../assets/f93802b1-b5e0-433c-97a5-217dc8a98579-transformed.jpeg" alt="Random Photo" style="width: 70%; height: auto;">
            </div>
            <div class="image2">
            <img src="../../assets/brand.jpeg" alt="Example Image" style="width: 150px;">
            >
        </div>
        </div>
        <div class="col-md-6 right-side"  style="padding: 20px;">
            <div class="header">
                <h1>Forgot Password</h1>
                <p>New Password</p>
            </div>
            <div class="content">
            <div class="form">
                <form action="#">
                    <div class="form-group">
                        <label for="email">Please enter Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="hello@reallygreatsite.com">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">SEND</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
