body {
    font-family: sans-serif;
    background-color: #f3f3f3;
  }
  
  .container {
    max-width: 200%;
    margin: auto;
    padding: .25;
  }
  
  .left-side {
    padding: 20px;
    background-color:white;
  }
  
  .right-side {
    background-color: #fff;
  }
  
  .header {
    text-align: center;
    padding: 40px 9px;
    border-bottom: 1px solid #ccc;
    background-color: rgb(99, 99, 238);
    color: white;
    border-radius: 10px;
  }
  
  .form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 99, 99, 0.1);
    width: 75%;
    margin-top: 50px;
  }
  
  .form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form p {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form label {
    display: block;
    margin-bottom: 12px;
  }
  
  
  .form input[type="email"]{
    width: 92%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  
  .form button {
    background-color:rgb(99, 99, 238);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  .content{
    padding: 0px;
    border-color: rgba(33, 30, 30, 0.1);
  }
  .image1{
    text-align: center;
  }